body {
    background-color: floralwhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: rgb(21, 162, 89);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    margin-top: 20px;
}